<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UDEA-全球领先的金融科技服务商|金融云服务商|金融投资云平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" itemprop="description"
              content="UDEA 是一家专注为外汇经纪商，贵金属交易所，基金管理者，银行等金融机构提供一站式金融技术服务的科技公司，产品涉及金融领域的交易系统、风控系统、CRM系统、数字营销系统、行情数据接口、金融云计算等领域"/>
        <meta name="keywords" itemprop="keywords" content="udea,金融科技，金融云，金融投资云平台，外汇经纪商，外汇交易商，券商，白标，风控"/>
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css">

    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7" oncontextmenu=self.event.returnValue=false onselectstart="return false">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 ">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section id="platform-header" class="sub-header">
            <section class="container">
                <ul>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="MT4.html">MT4简介</a></li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="MT5.html">MT5简介</a></li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="white.html">白标搭建</a></li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="mainlabel.html" class="active">主标搭建</a>
                    </li>
                </ul>
            </section>
        </section>

        <section id="platform-info">
            <section class="container">
                <div class="fl col-lg-3 col-sm-4 col-xs-10 col-sm-offset-0 col-xs-offset-1">
                    <h2>主标搭建</h2>
                    <div class="line1"></div>
                    <div class="clearfix"></div>
                    <div>
                        <p>专业为MT4/MT5架构设计</p>
                        <p>物理机与云系统整合并行</p>
                        <p>Linux/Windows系统</p>
                    </div>
                    <div class="clearfix" style="margin: 0"></div>
                    <div class="info1">
                        <p>顶级服务器</p>
                        <p>AA级防火墙</p>
                    </div>
                    <div class="info1">
                        <p>BGP国际路线</p>
                        <p>国际海底光纤</p>
                    </div>
                </div>
                <div class="fr col-lg-7 col-lg-offset-1 col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <p>
                        提供专业MT4系统搭建，8台顶级服务器以上支持供用，主交易服务器可以设定美国、英国、日本、
                        新加波、香港，国际BGP线路，防火墙、Windows正版系统、有点科技技术人员7*24 小时服务，
                        系统设置，服务器架构补丁升级，系统维护，集群部署。MT4 综合了行情图表，技术分析，下单交
                        易，风控控制，FIX接口，Manager Api接口插件接入多功能于一身优秀外汇交易系统，在现代电
                        子交易系统中对于广大投资者有着不可替代优势。从技术方面来看，MT4交易平台是一个很庞大交
                        易体系，不仅仅是一个全球先进交易系统，其友好的用户交易界面，使之成为高度灵活的交易平台。
                    </p>
                </div>
            </section>
        </section>

        <section id="fangan">
            <section class="container">
                <h2 class="textcolor3">MT4主标搭建方案</h2>
                <div class="col-lg-10 col-lg-offset-1 mainfanfan textcolor3">
                    <ul>
                        <li>离岸公司</li>
                        <li><i>/</i>金融网站</li>
                        <li><i>/</i>运维托管</li>
                        <li><i>/</i>CRM系统</li>
                        <li><i>/</i>MT4主标申请</li>
                    </ul>
                </div>
                <div class="col-lg-10 col-lg-offset-1 mainfanfan textcolor3">
                    <ul>
                        <li>三方支付</li>
                        <li><i>/</i>离岸账户</li>
                        <li><i>/</i>牌照监管</li>
                        <li><i>/</i>服务器搭建</li>
                        <li><i>/</i>流动性MT4桥</li>
                    </ul>
                </div>
            </section>
        </section>

        <section id="soft">
            <section class="container">
                <h2>软件特色</h2>
                <div class="line2"></div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>涵盖多种金融市场</h4>
                    <p>MT4可同时交易8大货币钟热门的16钟货币对以及备受广大投资者欢迎的现货伦敦金/银，交易类型多达上百品种。</p>
                </div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>交易记录查询，报表统计</h4>
                    <p>MT4交易软件所有交易记录会被自动保存，投资者可查询不同时段的交易数据、报表等，以用于投资者日后分析。</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>系统稳定，操作简单</h4>
                    <p>MT4软件与雾服务器之间传输的数据采用128位密匙加密形式，这就保证了投资者的交易指令会安全的送达至服务器。</p>
                </div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>免费提供模拟账户</h4>
                    <p>模拟账户的交易行情与真是行情完全一致。投资者通过模拟交易，来熟悉平台的功能以及投资产品的特点。</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>分析功能强大</h4>
                    <p>MT4交易软件提供了30种画线工具、9个交易时段图表选项、50种国际流行技术指标；并可编写自定义的指标。</p>
                </div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>支持多种语言平台界面</h4>
                    <p>有点MT4系统提供中文、英文等31种多国语言，为全球投资者提供黄金/白银、外汇、玉米等交易服务。</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>实时风险管理功能</h4>
                    <p>投资者可通过MT4交易软件止损功能，有可能降低交易单的损失；同时可以通过追踪止损的设置，来锁定已获的利润。</p>
                </div>
                <div class="col-lg-5 col-md-5 softdiv col-lg-offset-1 col-md-offset-1">
                    <h4>体系的效率和生产率高</h4>
                    <p>数据的转换和协议的处理都相当的经济，仅用1台服务器就可以支持数千客户的交易。</p>
                </div>
            </section>
        </section>

        <section id="service">
            <section class="container">
                <h2 class="textcolor3">超级服务</h2>
                <ul class="col-lg-offset-1 col-xs-offset-1 textcolor3">
                    <li class="five serviceli"><i></i>&nbsp;&nbsp;MT4 Manager</li>
                    <li class="five serviceli even"><i></i>&nbsp;&nbsp;后台运营</li>
                    <li class="five serviceli"><i></i>&nbsp;&nbsp;三方支付系统</li>
                    <li class="five serviceli even"><i></i>&nbsp;&nbsp;风控管理系统</li>
                    <li class="five serviceli"><i></i>&nbsp;&nbsp;客服指导</li>
                    <li class="five serviceli even"><i></i>&nbsp;&nbsp;CRM管理系统</li>
                    <li class="five serviceli"><i></i>&nbsp;&nbsp;牌照服务</li>
                    <li class="five serviceli even"><i></i>&nbsp;&nbsp;交易报表监督</li>
                    <li class="five serviceli"><i></i>&nbsp;&nbsp;在线支持</li>
                    <li class="five serviceli even"><i></i>&nbsp;&nbsp;货币对接入</li>
                </ul>
            </section>
        </section>

        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4简介</a></dd>
                        <dd><a href="MT5.html">MT5简介</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                        <dd><a href="site.html">金融官网搭建</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号
                            恒泽商业大厦15楼1501室</dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>

    </body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d11936d53e2cc56c9cc082a33ab9c99d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--<script type="text/javascript" src="//publicdn.cdn.duapp.com/js/wqnmlgb.min.js"></script>-->

    <!--<script>-->
        <!--document.onkeydown=function (e){-->
            <!--var currKey = 0;-->
            <!--var evt = e ||window.event;-->
            <!--currKey = evt.keyCode||evt.which||evt.charCode;-->
            <!--if (currKey == 123) {-->
                <!--window.event.cancelBubble = true;-->
                <!--window.event.returnValue = false;-->
            <!--}-->
        <!--};-->
    <!--</script>-->
</html>