<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UDEA-全球领先的金融科技服务商|金融云服务商|金融投资云平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" itemprop="description"
              content="UDEA 是一家专注为外汇经纪商，贵金属交易所，基金管理者，银行等金融机构提供一站式金融技术服务的科技公司，产品涉及金融领域的交易系统、风控系统、CRM系统、数字营销系统、行情数据接口、金融云计算等领域"/>
        <meta name="keywords" itemprop="keywords" content="udea,金融科技，金融云，金融投资云平台，外汇经纪商，外汇交易商，券商，白标，风控"/>
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css">

    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 ">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section class="container news">
            <section class="col-md-8">
                <article class="well clearfix entry-common" id="post-2364">
                    <header class="entry-header">
                        <h1 class="entry-title">下一站，塞浦路斯——LEAN WORK打开欧洲市场大门</h1>
                        <div class="clearfix entry-meta">
                            <span class="pull-left">
                                <time class="entry-date fa fa-calendar" datetime="2017/05/24 15:20:49">&nbsp;2017/05/24</time>
                                <span class="dot">|</span>
                                <span class="categories-links fa fa-folder-o"> <a href="" rel="category tag">公司新闻</a></span>
                                <span class="dot">|</span>
                                <span class="fa fa-user"> <a href="" title="由Ricky发布" rel="author">Ricky</a></span></span>
                        </div>

                        <div class="news-img hidden-xs">
                            <img width="1280" height="960"
                                 src="../static/img/news01.png"
                                 class="attachment-full size-full wp-post-image">
                        </div>

                    </header>
                    <div class="entry-content clearfix">
                        <p>5月22日，由LEAN&nbsp;WORK创始人Darren、市场总监Mia和销售总监Sun组成的领导小分队落地塞浦路斯，此行旨在考察欧洲外汇市场、拓展商务合作机会。</p>
                        <p>&nbsp;</p>
                        <p>
                            被称为“爱神之岛”的塞浦路斯，是地中海地区的第三大岛，扼亚、非、欧三洲海上交通要冲，其独特的地缘优势使其一直致力于发展金融服务业为基础的开放自由型经济，力求成为架设于东西方之间的金融桥梁。塞浦路斯证券交易委员会（CySEC）主席Demetra
                            Kalogerou曾在新闻发布会上指出：“CySEC的目标之一就是努力让塞浦路斯成为安全可靠的资本市场，从而使其成为最有吸引力的投资之地。”</p>
                        <p>&nbsp;</p>
                        <p>塞浦路斯岛上聚集的金融服务公司不甚枚举，其中就包括一百多家外汇经纪商。LEAN
                            WORK的第一站，就来到了SPOTWARE——cTrader（经纪商所认可的第二大交易平台）开发商，SPOTWARE是一家国际知名的外汇技术供应商，专注于e-FX
                            STP和直接访问交易，为经纪人、银行及其客户提供全面的技术解决方案。</p>
                        <p><a class="magnific news-img"
                              rel="magnific"><img class="alignnone size-full" src="../static/img/news02.jpg"></a>
                        </p>
                        <p>
                            cTrader常年占据着巨量的市场份额，并获得了用户的广泛好评，这跟它的平台特色和服务是分不开的。cTrader具备真正的无交易员处理平台（NDD）环境、平台每秒能同时处理上百个订单，同时会不间断更新经纪商的报价。这些先进且易上手的服务功能，为经纪商和交易者提供了高效、便捷的交易体验。</p>
                        <p>&nbsp;</p>
                        <p>在短短的两年中，LEAN
                            WORK也从一家初创公司，成长为全球领先的金融技术服务商，这一切同样都离不开其专业的技术服务和用户口碑。基于“助力经纪商更高效的实现业务增长”这一共同理念，双方最终达成了合作意向——cTrader将向LEAN
                            WORK的CRM系统开放API接口，LEAN&nbsp;WORK的<a href="https://www.lwork.com/broker-work">Broker&nbsp;Work</a>和<a
                                href="https://www.lwork.com/trader-work">Trader&nbsp;Work</a>产品将与cTrader系统完全打通。</p>
                        <p>&nbsp;</p>
                        <p>此前，LEAN WORK与MT4、MT5、CTP等交易平台已经实现了无缝对接，在此次接入ctrader交易平台后，用户即可更为灵活的进行交易平台的选择。LEAN
                            WORK一直致力于通过提供多元化的服务，为全球券商提供更有市场竞争力的服务。</p>
                        <p>&nbsp;</p>

                        <div class="pull-right single-pages">
                        </div>

                    </div>
                    <footer class="entry-footer">

                        <!--上一篇下一篇-->
                        <ul class="pager clearfix">
                            <li class="previous">
                                <a title="" href="">上一篇</a>
                            </li>
                            <li class="next"></li>
                        </ul>
                        <!--上一篇下一篇-->
                        <!--分享-->
                        <ul class="share list-unstyled list-inline clearfix">
                            <li class="text-center hidden-xs" style="padding-right:10px"><strong>分享到 <i
                                class="fa fa-share-alt"></i></strong></li>
                            <li class="text-center">
                                <a class="text-center" href="javascript:;" id="share-weixin" title="分享到微信"
                                   data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-wechat"></i>
                                </a>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">扫描二维码，分享到微信</h4>
                                            </div>
                                            <div class="modal-body text-center">
                                                <p><img
                                                    src="http://api.k780.com:88/?app=qr.get&amp;data=https%3A%2F%2Fwww.lwork.com%2Flean%2F2364&amp;level=L&amp;size=6">
                                                </p>
                                                <p>打开微信，点击 “发现”<br>使用 “扫一扫”，可分享到朋友圈</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="text-center"><a href="javascript:;" id="share-qzone" title="分享到QQ空间"><i
                                class="fa fa-qq"></i></a></li>
                            <li class="text-center"><a href="javascript:;" id="share-weibo" title="分享到新浪微博"><i
                                class="fa fa-weibo"></i></a></li>
                            <li class="text-center"><a href="javascript:;" id="share-tencent" title="分享到腾讯微博"><i
                                class="fa fa-tencent-weibo"></i></a></li>
                            <!--
                            <li class="text-center"><a href="javascript:;" id="share-renren" title="分享到人人网"><i class="fa fa-renren"></i></a></li>
                            -->
                        </ul>
                        <!--分享-->

                    </footer>

                </article>
            </section>
            <aside id="side-bar" class="col-md-4">
                <aside id="tiny_categories-6"
                       class="widget widget_tiny_categories panel panel-specs visible-lg visible-md">
                    <div class="panel-heading"><h4 class="textcolor3">新闻目录</h4></div>
                    <ul>
                        <li class="cat-item cat-item-17 current-cat"><a href="news.html">公司新闻</a></li>
                        <li class="cat-item cat-item-17 current-cat"><a href="news.html">公司新闻</a></li>
                        <li class="cat-item cat-item-17 current-cat"><a href="news.html">公司新闻</a></li>
                        <li class="cat-item cat-item-17 current-cat"><a href="news.html">公司新闻</a></li>
                        <li class="cat-item cat-item-17 current-cat"><a href="news.html">公司新闻</a></li>
                    </ul>
                </aside>
            </aside>
        </section>

        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4平台搭建</a></dd>
                        <dd><a href="MT5.html">MT5平台搭建</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="site.html">金融网站搭建</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号
                            恒泽商业大厦15楼1501室
                        </dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>

    </body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d11936d53e2cc56c9cc082a33ab9c99d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</html>