<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UDEA-离岸公司注册</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <meta name="description" itemprop="description"
              content="UDEA 是一家专注为外汇经纪商，贵金属交易所，基金管理者，银行等金融机构提供一站式金融技术服务的科技公司，产品涉及金融领域的交易系统、风控系统、CRM系统、数字营销系统、行情数据接口、金融云计算等领域"/>
        <meta name="keywords" itemprop="keywords" content="udea,金融科技，金融云，金融投资云平台，外汇经纪商，外汇交易商，券商，白标，风控"/>
        <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common-scheme.css">
        <link rel="stylesheet" type="text/css" href="../static/css/register.css">

    </head>
    <body class="home page-template-page-index page-template-page-index-php page page-id-7">
        <!--导航栏-->
        <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="../index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                            <ul class="dropdown-menu">
                                <li><a href="MT4.html">MT4简介</a></li>
                                <li><a href="MT5.html">MT5简介</a></li>
                                <li><a href="white.html">白标搭建</a></li>
                                <li><a href="mainlabel.html">主标搭建</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                            <ul class="dropdown-menu mega-menu-2 ">
                                <li><a href="register.html">离岸账户开设</a></li>
                                <li><a href="company.html">离岸公司注册</a></li>
                                <li><a href="paizhao.html">金融监管牌照</a></li>
                                <li><a href="sanfang.html">三方支付申请</a></li>
                                <li><a href="CRM.html">CRM管理系统</a></li>
                                <li><a href="liudong.html">流动性提供商</a></li>
                                <li><a href="site.html">金融官网搭建</a></li>
                                <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                                <li><a href="jingxiang.html">镜像管理系统</a></li>
                                <li><a href="chajian.html">MT4插件定制</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down fa-lg">
                                </i>&nbsp;&nbsp;关于我们</a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">关于我们</a></li>
                                <li><a href="development.html">发展历程</a></li>
                                <li><a href="joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="news.html" class="dropdown-toggle" data-toggle="dropdown"
                               data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;新闻动态</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a class="dropdown-toggle language"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="bgheader"></div>
        <section id="header-bg"></section>
        <section id="platform-header" class="sub-header">
            <section class="container">
                <ul class="one-show">
                    <li style="width: 4.5%;float: left"></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="company.html">离岸公司注册</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="register.html">离岸账户开设</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="paizhao.html" class="active">金融监管牌照</a>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="sanfang.html">三方支付申请</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="CRM.html">CRM管理系统</a></li>
                    <li class="col-lg-1">
                        <div id="nextRE"><i class="fa fa-angle-double-right fa-lg"></i></div>
                    </li>
                </ul>
                <ul class="two-show clickhide">
                    <li style="float:left;width: 4.5%;margin-left: 4.5%">
                        <div id="pre" class="clickhide"><i class="fa fa-angle-double-left fa-lg"></i></div>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="liudong.html">流动性提供商</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="site.html">金融网站搭建</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="design.html">Logo VI设计</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="jingxiang.html">镜像管理系统</a></li>
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="chajian.html">MT4插件定制</a></li>
                </ul>

            </section>
        </section>

        <section id="platform-info">
            <section class="container">
                <div class="fl col-lg-3 col-sm-3">
                    <h2 style="padding-bottom: 10px">金融监管牌照</h2>
                    <div class="line1"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="fr col-lg-7 col-lg-offset-1 col-sm-7 col-sm-offset-1">
                    <p>
                        我们提供一站式的金融牌照注册服务，提供全世界各国的金融注册方案，公司组建接话，营运计
                        划等等。只要你提出，全世界任何地方的金融牌照我们都可以协助你注册和申请。
                    </p>
                    <p class="licence-fca">
                        <label>FCA</label>|<label>NFA</label>|<label>FSP</label>|<label>FMA</label>|<label>ASIC</label>|<label>VFSC</label>
                    </p>
                </div>
            </section>
        </section>
        <section id="licence">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao01.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h4>澳大利亚金融背景</h4>
                            <p>
                                澳大利亚是世界上发展最快的衍生品交易市场之一，根据联邦储备银行（Reserve bank）的年度调查，所有场外外汇产品日均交易量为1750亿美元左右。另外，该
                                国金融领域的常规基础设施设备良好，这些常规基础设施构成了保证金产品市场。这是一个完全成熟、监管良好的资本市场，拥有受过良好教育的投资群体。此外，
                                在金融市场上，因特网在银行和证券交易方面的利用和处理上一直具有长期规范性。
                            </p>
                            <p>
                                外汇和差价合约经纪商把澳大利亚作为发展业务的一个合适地区，本地监管机构认可了衍生品产品，对差价合约和保证金外汇实施了监管，投资者提高了对金融市场
                                的理解，对复杂产品（例如场外交易衍生品）产生了需求，此外，除了国内的有力支持，澳大利亚还与其他经济体展开了联系，例如中国，马来西亚和印度尼西亚
                            </p>
                            <h4>澳大利亚证券和投资委员会( ASIC)</h4>
                            <p>
                                外汇和差价合约经纪商把澳大利亚作为发展业务的一个合适地区，本地监管机构认可了衍生品产品，对差价合约和保证金外汇实施了监管，投资者提高了对金融市场
                                的理解，对复杂产品（例如场外交易衍生品）产生了需求，此外，除了国内的有力支持，澳大利亚还与其他经济体展开了联系，例如中国，马来西亚和印度尼西亚
                            </p>
                            <h4>监管要求</h4>
                            <div id="licence-ul">
                                <ul>
                                    <li>须申请获得AFS License，并获准许可指定的经营权</li>
                                    <li>公司股东和管理层以及规定的持牌人均需按ASIC规定进行备案</li>
                                    <li>须建立整套客户投诉解决方案，加入FOS纠纷解决机构</li>
                                    <li>须按监管要求在指定银行开立客户资金专属账户，与公司自有资金分离管理</li>
                                    <li>定期提交公司经营财务报告，定期进行会计审计，提交ASIC备案</li>
                                    <li>定期提交客户交易报告，提交ASIC备案</li>
                                </ul>
                            </div>
                            <p>除此之外，ASIC建立了一整套的针对外汇市场的监督管理机制，凡是有任何客户投诉外汇市场参与者的，ASIC都要求被投诉者按流程参与纠纷解决，对损坏客户利
                                益的行为，要求交易商进行赔偿。如果受监管企业有违规操作，将受到ASIC的严重处罚或起诉，甚至吊销金融服务牌照和普通经营执照。
                                同时，ASIC对在澳洲金融机构进行投资的国际投资者进行了有效的权益保护，享受与澳洲本土投资者一样的法律权益。</p>
                            <h4>申请澳洲金融牌照AFSL优势</h4>
                            <div id="licence-ul-1">
                                <ul>
                                    <li>完善的政府职能，独立管理金融市场</li>
                                    <li>全方位的监管体系，监督与管理两手并重</li>
                                    <li>在金融运作中，协助和保护零售商和客户</li>
                                    <li>注重对投资者的权益保护，设立了FOS纠纷解决机构</li>
                                    <li>对任何违反法律的行为有着严格的处罚措施</li>
                                    <li>更加公开公正的信息发布，确保公众利益</li>
                                    <li>通过新技术和流程提高服务水平</li>
                                    <li>保护投资</li>
                                </ul>
                            </div>
                            <div class="licence-capital">
                                <ul>
                                    <li>（一） 所有经营金融产品的机构首先需要申请金融服务牌照(AFS Licence)</li>
                                    <li>（二）所有申请AFSL金融服务牌照的机构均需为零售客户办理专业责任强制保险(Professional indemnity insurance)</li>
                                    <li>（三）ASIC要求投诉部门及时处理客户投诉，并对违规交易商进行严格处罚，甚至吊销金融服务牌照AFSL</li>
                                    <li>（四）更严格的金融产品披露、客户风险披露，要求金融机构必须毫无保留地告诉客户公司经营风险、市场交易风险等</li>
                                </ul>
                            </div>
                            <h4>AFSL资产要求(以外汇零售商/交易商/做市商为例)</h4>
                            <p>
                                客户资产审验以及保证金(此为您司额外支付，并不在包含在计划服务费用里面，并且会存放在您司的澳洲银行帐户)：从2013年1月31日开始，所有受澳大利亚证
                                券和投资委员会（ASIC）监管的场外衍生品经纪商将要保证有形资产净额达到50万美元，或为收入的10%。2014年，ASIC再次将该要求提高到100万美元，或为
                                收入的10%。监管机构以巴塞尔协议3为基础，把收入和资本作为一个公司财务稳定性的衡量尺度。在申请AFSL期间,要向ASIC提交今年预计客户资金的多少,然后
                                根据这个数字提供相应的公司资产审计报告。实时需要会计公司提供审计报告，证明公司有足够的流动资产。
                            </p>
                            <h4>办理时间</h4>
                            <div id="licence-ul-2">
                                <ul>
                                    <li>注册全新澳洲AFSL牌照需要4-6个月，购买现成AFSL牌照仅需1-2个月</li>
                                    <li>有关申请AFSL牌照服务内容及费用信息请查看附件AFSL金融服务供应商（做市商）牌照计划简报</li>
                                    <li>澳洲的监管注册需要从澳洲本地申请。我们为您提供了一个全面的解决方案，即帮您注册完成AFSL监管牌照的申请，同时也确保您日后运营中所需应对金融部
                                        门要求的所有合规操作，确保符合通过所有澳洲公司注册局和金融市场管理局的所要求与法规.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-black" id="licence-detail">
            <section class="container">
                <div class="col-md-3 col-md-offset-1">
                    <h4>代办金融牌照服务内容</h4>
                    <ul>
                        <li>代办澳洲本土银行账户</li>
                        <li>澳洲公司架构组建</li>
                        <li>委派专业的金融持牌人，澳籍董事，公司责任经理和公司法务总监等</li>
                        <li>澳洲办公室及设备租赁</li>
                        <li>AML流程建立，反洗钱反恐合规</li>
                        <li>网站合规性审核</li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h4>拍照申请细节</h4>
                    <ul>
                        <li>金融业务方案设计</li>
                        <li>递交牌照申请，及所相关文书准备工作</li>
                        <li>准备与撰写金融服务指南</li>
                        <li>金融交易产品披露说明撰写</li>
                        <li>雇佣合同撰写</li>
                        <li>反洗钱反恐报告申请</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>申请牌照成功后每月协助管理</h4>
                    <ul>
                        <li>招聘公司员工，培训并且管理</li>
                        <li>责任经理作为牌照持牌人</li>
                        <li>公司服务式写字楼管理</li>
                        <li>澳洲顶尖法律顾问公司提供AFSL牌照法律服务</li>
                        <li>每年由澳洲知名会计公司提供的审计与咨询服务，包括申请牌照时所需的审计报告，和日后每年税收报告，公司每年年检。</li>
                    </ul>
                </div>
            </section>
        </section>
        <section id="licence-FSP">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao02.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h4>新西兰金融背景</h4>
                            <p>
                                新西兰FSP全称为Financial Service Providers Register，新西兰FSPR英文全称为Financial Service Providers Register（下简称FSPR），泛指通过新西兰
                                公司注册处有关于金融服务供应商注册登记的企业或组织，对于这样的企业或组织我们可以称之为FSPR。根据2008年9月28日通过的新西兰金融争议解决法案，
                                该方案是由财务顾问法案与金融服务提供商（登记注册与争端解决）法案组成。凡是在新西兰境内提供金融相关领域的个人及团体组织，均需要进行合法的注册与申
                                报。自2010年8月16日开始，新西兰注册处接受金融服务供应商的登记申请，而在2010年12月1日，新西兰强制性执行金融供应商监管机制。所有新西兰金融
                                服务供应商(FSP)均受到2008年订立的Registration and Dispute Resolution法案所规管，由新西兰金融市场管理局(FMA)作出监管，执行国际间的金融职责，
                                防止海外公司进行洗黑钱或金融恐怖主义活动。让投资者可以于稳健的金融市场进行投资活动。
                            </p>
                            <p>
                                FSP主要面对新西兰获得金融服务资质的企业；这些企业从事相应的金融及相关业务时受新西兰政府的全面监管。目前新西兰FSP采用的申请前审核机制是全球
                                范围 内最严格的机制之一，并且针对在金融服务提供的过程中可能存在的纠纷制定了不同的解决方案，因此FSP监管在全球的信誉极佳。在新西兰FSP注册的公司
                                ， 无论是否为公司唯一业务或主要业务，但凡涉及到金融领域所规定的任何项目，均需要申请“登记新西兰金融服务注册”—简称FSPR。
                                对比澳洲,　英国，甚至塞普路斯等国家，新西兰相对来说要求的繁杂监管责任及注册资金最少，它规定的是金融服务提供商必须作为“已注册的机构”出现。
                                这是一个相对简单的程序，政府并不需要对客户进行资深的金融背景调查或最低资质及资金要求。此外，对金融服务提供商，如果您提供服务给“零售”客户（即非
                                高端客户），必须认可加入政府规定的客户争议解决方案，之后便可完成注册。
                            </p>

                            <h4>新西兰FSP金融牌照的意义</h4>
                            <p>
                                内地市场蕴含着巨大的潜力，民间投资热情极大推动着行业内企业的规范化运作，新西兰FSP成为目前行业内企业及投资者所认可的监督方。获得新西兰FSP金融
                                牌照，可获得更多投资者的信任。新西兰FSP监管牌照为客户带来之保障，投资者可以直接透过Financial Service Providers Register(FSPR)查核公司是否为新
                                西兰政府认可的合资格交易商，对公司所能提供的金融服务类别一目了然，投资者更安心。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-black" id="licence-main">
            <section class="container">
                <div class="col-md-5 col-md-offset-1">
                    <h4>新西兰FSP的主要功能</h4>
                    <ul>
                        <li>提供金融服务商的注册服务，接受在线申请；</li>
                        <li>提高公众透明度，满足公众的知情权，并对其注册的金融<br/>服务商按照2008法案（Act 2008）执行监管；</li>
                        <li>从监管上防止金融服务商的诈骗行为发生；</li>
                        <li>协助新西兰FSPR遵守国际义务，防止其成为洗钱的工具。</li>
                        <li>AML流程建立，反洗钱反恐合规</li>
                        <li>网站合规性审核</li>
                    </ul>
                </div>
                <div class="col-md-6 ">
                    <h5>新西兰哪些行业需要注册FSP?<br/>
                        如下行业被要求强制性申请新西兰金融服务供应商牌照：</h5>
                    <ul class="col-lg-5">
                        <li>银行</li>
                        <li>保险公司</li>
                        <li>股票经济</li>
                        <li>财务顾问（包括财务规划师）</li>
                        <li>财务公司和任何类型的放贷人</li>
                        <li>外汇交易商</li>
                        <li>换汇商</li>
                    </ul>
                    <ul class="col-lg-7 ">
                        <li >以信用分期付款形式向公众出售货物的零售商；</li>
                        <li>基金经理</li>
                        <li>信托基金受托人（公益慈善性质、家庭信托基金除外）；</li>
                        <li>投资产品经理</li>
                        <li>信用卡、Bartercard、Taxicharge和一系列的支付机构与支付系统；</li>
                    </ul>
                    <p class="col-lg-12">
                        根据新西兰当地相关部门的要求，此份行业明细可能会有增加或免除，如获最新信息，恕不另行通知。
                    </p>
                </div>
            </section>
        </section>
        <section id="licence-VFCA">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao03.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h5>瓦努阿图金融服务委员会（VanuatuFinancialServiceCommission）券商牌照（SecurityDealerLicense）购买方案</h5>
                            <h5>购买费用及后续服务</h5>
                            <p>
                                瓦努阿图券商牌照购买费用为【25,000美金】；客户在牌照申请前需支付总费用的50%【12,500美金】，在公司牌照批复完成后，立即支付余下的50%。我司将与
                                买家协调所有所需的个人及公司文件。
                            </p>
                            <p>
                                FSP主要面对新西兰获得金融服务资质的企业；这些企业从事相应的金融及相关业务时受新西兰政府的全面监管。目前新西兰FSP采用的申请前审核机制是全球
                                范围 内最严格的机制之一，并且针对在金融服务提供的过程中可能存在的纠纷制定了不同的解决方案，因此FSP监管在全球的信誉极佳。在新西兰FSP注册的公司
                                ， 无论是否为公司唯一业务或主要业务，但凡涉及到金融领域所规定的任何项目，均需要申请“登记新西兰金融服务注册”—简称FSPR。
                                对比澳洲,　英国，甚至塞普路斯等国家，新西兰相对来说要求的繁杂监管责任及注册资金最少，它规定的是金融服务提供商必须作为“已注册的机构”出现。
                                这是一个相对简单的程序，政府并不需要对客户进行资深的金融背景调查或最低资质及资金要求。此外，对金融服务提供商，如果您提供服务给“零售”客户（即非
                                高端客户），必须认可加入政府规定的客户争议解决方案，之后便可完成注册。
                            </p>

                            <h5>我司可为客户提供:</h5>
                            <ul>
                                <li>公司注册信息</li>
                                <li>公司税号</li>
                                <li>财务报表</li>
                                <li>董事个人身份证明</li>
                                <li>董事个人住址证明</li>
                                <li>董事个人简历或其他需要提交的公司信息。</li>
                            </ul>
                            <p>同时，我也可帮助客户填写相关申请表格。</p>
                            <h4>运营服务费用</h4>
                            <p>保证金2000美元(一次性)<br/>
                                管理费(包括办公室管理，海外合规服务及员工)2500美元/月
                            </p>
                            <h5>注册时间</h5>
                            <p>申请资料提交齐全，两个月左右可以获得瓦努阿图监管牌照</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-black" id="licence-about">
            <section class="container">
                <div class="col-md-5 col-md-offset-1">
                    <h4>牌照申请成功后，持牌方可经营的金融产品包括：</h4>
                    <p>Shares in the share capital of a corporation<br/>
                        公司股份</p>
                    <p>
                        An instrument that creates and acknowledges the indebt securities<br/>
                        that is issued by acorporation or a public office including:-<br/>
                        由公司或其他公共机构发行的证券，包括：
                    </p>
                    <p>
                        Debentures<br/>
                        无抵押债券
                    </p>
                    <p>
                        Debenture Stock<br/>
                        债券股
                    </p>
                    <p>
                        Loan stock<br/>
                        贷款股
                    </p>
                    <p>Bonds<br/>
                        债券</p>
                    <p>
                        Certifications of deposit<br/>
                        存单
                    </p>
                    <p>
                        A right despite whether or not conferred by warrant, to<br/>
                        subscribe for shares or debt securities<br/>
                        股份或债券认购权
                    </p>
                </div>
                <div class="col-md-6 ">
                    <p>A right under a depositary receipt<br/>
                        存托凭证，特指</p>
                    <p>
                        A Certificate or written record of a document that acknowledges<br/>
                        that another person is entitled to the rights in relation tothe<br/>
                        relevant securitiesof the same kind.<br/>
                        承认第三方对于相关证券有持有权的凭证或书面记录
                    </p>
                    <p>
                        An option to acquire or dispose of any Security falling within any<br/>
                        other provision of this Act<br/>
                        以上任意种类证券价值下跌时的继续持有及处置之权力
                    </p>
                    <p>
                        A right under a contract for the acquisition or disposal of the<br/>
                        relevant securities under which the delivery isto be made at a<br/>
                        future date and at a price agreed when the contract is made<br/>
                        in accordance with the terms of that contract; or<br/>
                        远期证券合约
                    </p>
                    <p>
                        The proceeds of Foreign Exchange or FOREX<br/>
                        外汇
                    </p>
                    <p>
                        The proceeds of precious metals<br/>
                        贵金属
                    </p>
                    <p>
                        The proceeds of commodities<br/>
                        期货或现货
                    </p>
                </div>
            </section>
        </section>
        <section id="licence-NFA">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao03.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h5>NFA簡介</h5>
                            <p>
                                美國全國期貨協會（NATIONAL FUTURES ASSOCIATION），簡稱NFA。美國全國期貨協會(NFA)是根據美國《商品交易法》第17節的規定，於1976年組建的
                                期貨行業自律組織，屬非盈利性會員制組織。《商品交易法》第17節源自1974年的《商品期貨交易委員會(CFTC)法》第三章，該部分規定了期貨協會的登記註冊
                                和CFTC對期貨專業人員自律管理協會的監管。1981年9月22日，CFTC接受NFA正式成為"註冊期貨協會"，1982年10月1日，NFA正式開始運作。美國全
                                國期貨協會（NFA）其初始宗旨是樹立期貨及其它市場的道德規範，保護交易員和投資者的利益。在美國期貨、外匯市場給客戶提供交易服務的每一個個人和公司必
                                須在美國商品期貨交易委員會（CFTC）註冊並成為NFA成員。現在，NFA約有4300個成員和50000名關聯成員（NFA成員公司的代表）。NFA的主要職能在於
                                為使NFA成員嚴格遵守聯邦法律及CFTC制定的規則，實施嚴格管理。NFA也有自身的規則，用來監督經紀商對交易員和投資商的行為規範，使交易員和投資商免
                                受欺騙。
                            </p>
                            <h5>NFA的監管運作</h5>
                            <ul>
                                <li>財務要求<br/>
                                    NFA的一個首要任務便是制訂針對FCM和IB會員的最低財務標準，按該標準進行審計和強制執行，並從這些會員手中獲得財務報告並加以分析。目前NFA
                                    的規則還沒有對其他會員如CPOs和CTAs作出類似的要求。儘管NFA可以對交易所會員FCMs進行審計，但NFA還是將這一職能委託給交易所來執行。
                                    NFA要求的財務標準基本上與CFTC和期貨交易所所要求的財務標準相同，但特殊的財務專案如保證金水準的確定，仍由交易所決定。</li>
                                <li>行業道德標準<br/>
                                    NFA實行的行業道德標準包括了《商品交易法》第17節特別規定的內容，例如禁止欺詐、操縱和欺騙性的行為，以及不公正的和不正當的交易等。NFA還禁
                                    止黑市交易，要求會員制訂對雇員和自由帳戶的監督制度。這些與CFTC和交易所的要求相類似的。此外，NFA要求CPO和CTA會員遵守CFTC和交易所的
                                    特別規定。NFA還制定了一條"瞭解你的客戶"的規則，要求會員對新客戶的情況進行全面瞭解，並在客戶開立期貨帳戶前提供期貨交易風險揭示書。</li>
                                <li>會員和聯合會員<br/>
                                    任何在CFTC登記的機構或個人和期貨交易所都可以成為NFA的會員，除非該登記者或交易所達不到會員資格條件(例如CFTC下令取消其註冊資格的)。按
                                    照《商品交易法》，NFA會員的雇員也被要求註冊為NFA的"聯合會員"，這些個人與會員一樣要達到NFA要求的資格。</li>
                                <li>會員資格審查<br/>
                                    首先由NFA工作人員進行初步審查，最終NFA會員資格委員會在聽證會上作出決定。假如總裁有理由相信申請者不符合會員資格或不適合註冊為NFA的聯合
                                    會員，申請者或者會員資格委員會可以要求舉行聽證會</li>
                                <li>處罰<br/>
                                    NFA設立了一個由NFA執行副總裁和部門首席執行官領導下的負責財務審計和道德監督的部門。如果發生違反NFA規則的事件，該部門需要準備一份報告並
                                    提交給業務指導委員會。該委員會按照報告採取行動，出具意見或者對會員(或聯合會員)提出正式的控告。在後一種情況下，被告人必須作出答復，並有權參
                                    加聽證委員會的聽證會。假如問題不能得到解決，並且針對被告人的決定已經作出，該會員或聯合會員可以到申訴委員會進行上訴，上訴結果是終局性的。可能
                                    對會員作出的懲罰包括開除、暫時取消會員資格、禁止和某會員發生聯繫、訓誡、申斥、每宗不超過250,000美元的罰金、或者其他類似的處罰。同時，為了
                                    及時保護市場、客戶或者其他會員，總裁和執行委員會可以聯合採取緊急措施，事前或事後，會員和聯合會員可以到業務指導委員會要求舉行聽證會。</li>
                                <li>NFA最新規定<br/>
                                    根據NFA最新的要求，所有外匯交易商必須與2011年2月4日開始，每天遞交電子報表。報表必須於紐約時間下午5點準備完成，並於午夜前將確認無誤的
                                    報表上傳至NFA系統。2月4日以後，凡是沒按時交表的，每天罰款200美元。</li>
                            </ul>
                            <p>同时，我也可帮助客户填写相关申请表格。</p>
                            <h4>运营服务费用</h4>
                            <p>保证金2000美元(一次性)<br/>
                                管理费(包括办公室管理，海外合规服务及员工)2500美元/月
                            </p>
                            <h5>注册时间</h5>
                            <p>申请资料提交齐全，两个月左右可以获得瓦努阿图监管牌照</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-black" id="licence-deal">
            <section class="container">
                <div class="col-md-10 col-md-offset-1">
                    <h4>NFA的職責</h4>
                    <ul>
                        <li>審核和監督會員必須符合NFA的財務要求；</li>
                        <li>制訂並強制執行保護客戶利益的規則和標準</li>
                        <li>對與期貨相關的糾紛進行仲裁</li>
                        <li>審批NFA會員資格，期貨代理商(FCMs)、介紹經紀人(IBs)、商品交易顧問(CTAs)和商品合資基金經理(CPOs)都可以成為NFA的會員。
                            此外，任何在CFTC登記註冊的機構或個人都可以成為NFA的會員，包括所有的期貨交易所和任何其他從事期貨業務的，只要申請人符合NFA的會員資格條件。自
                            1985年8月31日起，按照《商品交易法》，NFA會員的員工作為“相關聯的人”被要求註冊為NFA的“聯合會員”。CFTC還授權NFA處理場內經紀人和場內交
                            易商的申請註冊。按照NFA的規定，所有的FCM、IB、CTA和CPO都必須取利NFA的會員資格。</li>
                    </ul>
                </div>
            </section>
        </section>
        <section id="licence-FMA">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao04.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h5>新西兰金融市场监管局FMA简介</h5>

                            <p>
                                新西兰金融市场监管局听起来离很多生活在新西兰的华人朋友很远，实际上它的权力早就“渗透”到了您日常生活的很多部分，只不过普通居民无法接触到而已。
                                FMA在法律层面对新西兰金融市场上的证券行业、公司法律、财务报告实行完全的监管权，另外对于金融服务、外汇市场及其衍生产品和新西兰证券市场也进行
                                监管。同时，所有的与金融行业相关的从业人士，包括证券交易商、交易员、财务顾问、经纪人、受托人、发行人等等，也一并属于FMA的监管范围之中；举几
                                个简单的例子，所有的新西兰银行都受到FMA的监管，所有的NZX上市公司都受到FMA的监管，您的养老金KiwiSaver的托管人（公司）也同样被FMA监管
                                着。与所有的金融监管行业者相同，新西兰金融市场监管局FMA并不承担防止投资者损失的责任，也不会指导投资者进行投资或者教导其如何降低投资风险；
                                FMA的主要任务是推动新西兰的金融市场变得更加公平高效和透明，尽可能防止投资人由于受监管的某些单元的恶意欺诈行为而受到不应有的损失。FMA作为新
                                西兰政府的一个机构，其运行受到公众的监督；它的资金来源主要有两个，一是新西兰政府资金，另外一个就是FMA向受到监管的机构、公司和个人收取的牌照
                                费用和顾问指导费用，金融市场上的所有东西历来都不便宜，FMA通过以上收入足以满足其自身的财务运行需要；在新西兰的政府部门中，FMA是活得“相当滋
                                润”的一个。
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-black">
            <section class="container" id="licence-newland">
                <div class="col-md-10 col-md-offset-1">
                    <h4>新西兰金融市场监管局FMA主要业务</h4>
                    <ul>
                        <li>为新西兰政府制定金融市场运行的政策，并进行有效的引导；</li>
                        <li>监测和管理金融市场的参与者，并向符合规则的对象颁发相应的牌照</li>
                        <li>反洗钱、打击黑钱、打击恐怖主义资金</li>
                        <li>调查金融市场，执行规定</li>
                        <li>对金融市场的参与者提供信息，并进行规则教育与指导</li>
                        <li>监测新西兰金融市场的运行情况，确保其健康有序</li>
                        <li>接受投诉和建议，并在规定时间内给出回复</li>
                        <li>对金融市场所有的行为进行监管</li>

                    </ul>
                </div>
                <p>
                    新西兰金融市场监管局FMA的官方网站地址是 http://www.fma.govt.nz ，如果您想看到更多关于FMA的资讯、新闻或是希望进行投诉，都可到这个网站上找到对应的页面了解必要的步骤。
                </p>
            </section>
        </section>
        <section id="licence-FCA">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-3 paizhaoimg">
                        <img src="../static/img/paizhao04.png" class="img-responsive center-block">
                    </div>
                    <div class="col-sm-9 paizhaotext">
                        <div class="licence-text">
                            <h5>英国FCA监管牌照</h5>

                            <p>
                                我们的FCA服务是与英国本地律师公司合作，我们会对客户进行初步评估后给您相应在咨询信息，如果确认您可以申请FCA并有机会通过，我们才与英国的合作律
                                师公司共同与您进行三方的在线会议，律师会对您的运营建议和运营实力进行评估，确认下一步准备或是建议您准备后再行申请。与新西兰不同，英国要求申请人必
                                须进行本地运营，雇佣本地持牌照总监，并且月运营费用为2万到4万英磅。
                            </p>
                            <p>
                                英国FSCS：当英国金融服务商倒闭或无力支付客户赔偿金额的时候，客户可以获得相关的赔偿，这便是英国金融服务补偿计划(FSCS)。英国FSCS针对不同的产品提
                                供不同的赔偿额度。
                            </p>
                            <h5>监管机构特色</h5>
                            <p>FCA对风险的容忍度将更低，并将更倾向于采取预防手段而不是坐视损害发生。这种方法还将意味着更多地使用判断，即专业知识来判断对消费者的损害是否很可能
                                会发生，并基于这种前瞻性分析进行相应干预</p>
                            <h5>监管机构简介</h5>
                            <p>
                                英国金融服务管理局(FSA)2013年起被两个新的监管机构所替代，他们分别是金融行为监管局(Financial Conduct Authority, FCA)和审慎监管局(Prudential
                                Regulation Authority, PRA)。其中对经纪商的监管权将全部由FSA移交至FCA。
                            </p>
                            <h5>监管机构职责</h5>
                            <p>
                                负责监管银行、保险以及投资事业，包括证券和期货。英格兰银行与英格兰银行（BOE）同隶属财政部，FSA负责金融事业管理，而BOE主要任务维持金融稳定。
                                英国是目前世界上金融服务最完善、最健全的国家，并且通过金融服务监管局对（FSA）对所有在其境内注册的金融服务机构进行严格的监管。
                            </p>
                            <h5>如何监管</h5>
                            <p>
                                依据英国《2000年金融和市场服务法》维护金融秩序，包括四方面：
                            </p>
                            <ul>
                                <li> 维护英国金融市场及业界信心。</li>
                                <li>促进公众对金融制度的理解，了解不同类型投资和金融交易的利益和风险。</li>
                                <li>确保受监管机构有适当经营能力及财务结构健全，以保护投资者。同时，教育投资者正确认识投资风险。</li>
                                <li>监督、防范和打击金融犯罪。 </li>
                            </ul>
                            <h5>监管机构职责</h5>
                            <p>
                                打开英国FSA查询网址：http://www.fsa.gov.uk/register/firmRefSearch.do（注：因该网站为英国政府网站，由于时差关系，在中国的上午时段一般很难打开，
                                需要到午后才能顺畅打开）合法的黄金外汇交易公司在“基本信息”页里面必须应有Notices: Able to hold and control client money.（允许持有和控制客户资
                                金）正规黄金外汇公司的经营权限里必须有：Rolling spot forex contract （即时外汇交易，即外汇保证金交易业务）。
                            </p>
                            <h5>注册成为英国FSA还需要遵守的条例规定：</h5>
                            <ul>
                                <li>Money Laundering Regulations 2007 (MLR) 反洗钱条例；</li>
                                <li>Payment Services Regulations 2009 (PSRs)支付服务条例；</li>
                                <li>Electronic Money Regulations 2011 (EMRs)电子货币条例。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-black">
            <section class="container" id="licence-FSA">
                <div class="col-md-5 col-md-offset-1">
                    <h4>注册申请英国FSA的成立要求：</h4>
                    <ul>
                        <li>英国本土公司、个人或海外机构，提供金融相关服务；</li>
                        <li>在英国当地有实际经营；</li>
                        <li>由专业人士组成的团队； </li>
                        <li>一定的保证金。</li>
                    </ul>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>英国FSA可以申请的行业包括：</h4>
                    <ul>
                        <li>存款接受机构</li>
                        <li>在线交易商；</li>
                        <li>投资机构或投资经理人；</li>
                        <li>家庭理财顾问；</li>
                        <li>保险行业；</li>
                        <li>投资管理与投资维护机构；</li>
                        <li>债权发行机构；</li>
                        <li>期货交易机构；</li>
                        <li>其他金融行业。</li>
                    </ul>
                </div>

            </section>
        </section>

<section id="contact">
    <h2>联系我们</h2>
    <ul class="col-lg-offset-3 filp">
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
    </ul>
    <form>
        <input class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-1 col-xs-8">
        <button>提交</button>
    </form>
</section>


        <div id="clickTop" style="width: 50px; height: 50px; color: red">
            <a class="top-link" href="#"></a>
        </div>
        <footer id="footerMenu">
            <div class="container">
                <div class="row">
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>平台</label>搭建</dt>
                        <dd><a href="MT4.html">MT4平台搭建</a></dd>
                        <dd><a href="MT5.html">MT5平台搭建</a></dd>
                        <dd><a href="white.html">白标搭建</a></dd>
                        <dd><a href="mainlabel.html">主标搭建</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>解决</label>方案</dt>
                        <dd><a href="company.html">离岸公司注册</a></dd>
                        <dd><a href="register.html">离岸账户开设</a></dd>
                        <dd><a href="paizhao.html">金融监管牌照</a></dd>
                        <dd><a href="sanfang.html">三方支付申请</a></dd>
                        <dd><a href="CRM.html">CRM管理系统</a></dd>
                    </dl>
                    <dl class="col-xs-4 col-sm-2">
                        <dt></dt>
                        <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                        <dd><a href="liudong.html">流动性提供商</a></dd>
                        <dd><a href="site.html">金融网站搭建</a></dd>
                        <dd><a href="development.html">Logo VI设计</a></dd>
                        <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                        <dd><a href="chajian.html">MT4插件定制</a></dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                    <dl class="col-xs-4 col-sm-2">
                        <dt><label>关于</label></dt>
                        <dd><a href="aboutus.html">关于我们</a></dd>
                        <dd><a href="development.html">发展历程</a></dd>
                        <dd><a href="joinus.html">加入我们</a></dd>
                    </dl>
                    <dl class="col-xs-8 col-sm-2">
                        <dt><label>公司</label>信息</dt>
                        <dd>技术支持：Support@udeafx.com</dd>
                        <dd>商户合作：Sales@udeafx.com</dd>
                        <dd>咨询热线：+86 181 2887 8737</dd>
                        <dd>电话号码：+00852 6032-7386</dd>
                        <dd>公司地址：香港湾仔路骆克道53-55号
                            恒泽商业大厦15楼1501室
                        </dd>
                    </dl>
                    <div class="clearfix visible-xs-block"></div>
                </div>

            </div>
            <div class="companyinfo">
                <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/hm.js"></script>
    <script type="text/javascript" src="../static/js/vds.js"></script>
    <script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../static/js/storage.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', 'a6a54602e467dc5f']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?98c5d9a3f65e4c47b0f05f72d0b6e999";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</html>