<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UDEA-离岸公司注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <meta name="description" itemprop="description" content="UDEA 是一家专注为外汇经纪商，贵金属交易所，基金管理者，银行等金融机构提供一站式金融技术服务的科技公司，产品涉及金融领域的交易系统、风控系统、CRM系统、数字营销系统、行情数据接口、金融云计算等领域"/>
    <meta name="keywords" itemprop="keywords" content="udea,金融科技，金融云，金融投资云平台，外汇经纪商，外汇交易商，券商，白标，风控"/>
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.6/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" media="all">
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common-scheme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">


</head>
<body class="home page-template-page-index page-template-page-index-php page page-id-7">
<!--导航栏-->
    <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../index.html">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;平台搭建</a>
                        <ul class="dropdown-menu">
                            <li><a href="MT4.html">MT4简介</a></li>
                            <li><a href="MT5.html">MT5简介</a></li>
                            <li><a href="white.html">白标搭建</a></li>
                            <li><a href="mainlabel.html">主标搭建</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-angle-down fa-lg"></i>&nbsp;&nbsp;解决方案</a>
                        <ul class="dropdown-menu mega-menu-2 ">
                            <li><a href="register.html">离岸账户开设</a></li>
                            <li><a href="company.html">离岸公司注册</a></li>
                            <li><a href="paizhao.html">金融监管牌照</a></li>
                            <li><a href="sanfang.html">三方支付申请</a></li>
                            <li><a href="CRM.html">CRM管理系统</a></li>
                            <li><a href="liudong.html">流动性提供商</a></li>
                            <li><a href="site.html">金融官网搭建</a></li>
                            <li><a href="design.html">Logo&nbsp;&nbsp;VI设计</a></li>
                            <li><a href="jingxiang.html">镜像管理系统</a></li>
                            <li><a href="chajian.html">MT4插件定制</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-angle-down fa-lg">
                            </i>&nbsp;&nbsp;关于我们</a>
                        <ul class="dropdown-menu">
                            <li><a href="aboutus.html">关于我们</a></li>
                            <li><a href="development.html">发展历程</a></li>
                            <li><a href="joinus.html">加入我们</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="news.html" class="dropdown-toggle" data-toggle="dropdown"
                           data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;新闻动态</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class=""><a class="dropdown-toggle language"></a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="bgheader"></div>
<section id="header-bg"></section>
    <section id="platform-header" class="sub-header">
        <section class="container">
            <ul class="one-show">
                <li style="width: 4.5%;float: left"></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="company.html">离岸公司注册</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="register.html">离岸账户开设</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="paizhao.html" class="active">金融监管牌照</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="sanfang.html">三方支付申请</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="CRM.html">CRM管理系统</a></li>
                <li class="col-lg-1">
                    <div id="nextRE"><i class="fa fa-angle-double-right fa-lg"></i></div>
                </li>
            </ul>
            <ul class="two-show clickhide">
                <li style="float:left;width: 4.5%;margin-left: 4.5%">
                    <div id="pre" class="clickhide"><i class="fa fa-angle-double-left fa-lg"></i></div>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="liudong.html">流动性提供商</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="site.html">金融网站搭建</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="design.html">Logo VI设计</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="jingxiang.html">镜像管理系统</a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="chajian.html">MT4插件定制</a></li>
            </ul>

        </section>
    </section>

<section id="platform-info">
    <section class="container">
        <div class="fl col-lg-3 col-sm-3">
            <h2 style="padding-bottom: 10px">金融监管牌照</h2>
            <div class="line1"></div>
            <div class="clearfix"></div>
        </div>
        <div class="fr col-lg-7 col-lg-offset-1 col-sm-7 col-sm-offset-1">
            <p>
                我们提供一站式的金融牌照注册服务，提供全世界各国的金融注册方案，公司组建接话，营运计
                划等等。只要你提出，全世界任何地方的金融牌照我们都可以协助你注册和申请。
            </p>
            <p class="licence-fca">
                <label>FCA</label>|<label>NFA</label>|<label>FSP</label>|<label>FMA</label>|<label>ASIC</label>|<label>VFSC</label>
            </p>
        </div>
    </section>
</section>
<section id="licence">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
                <div class="licence-icon"></div>
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9 col-xs-9">
                <div class="ASIC-line"><label>ASIC</label></div>
                <div class="licence-text">
                    <h4>澳大利亚金融背景</h4>
                    <p>
                        澳大利亚是世界上发展最快的衍生品交易市场之一，根据联邦储备银行（Reserve bank）的年度调查，所有场外外汇产品日均交易量为1750亿美元左右。另外，该
                        国金融领域的常规基础设施设备良好，这些常规基础设施构成了保证金产品市场。这是一个完全成熟、监管良好的资本市场，拥有受过良好教育的投资群体。此外，
                        在金融市场上，因特网在银行和证券交易方面的利用和处理上一直具有长期规范性。
                    </p>
                    <p>
                        外汇和差价合约经纪商把澳大利亚作为发展业务的一个合适地区，本地监管机构认可了衍生品产品，对差价合约和保证金外汇实施了监管，投资者提高了对金融市场
                        的理解，对复杂产品（例如场外交易衍生品）产生了需求，此外，除了国内的有力支持，澳大利亚还与其他经济体展开了联系，例如中国，马来西亚和印度尼西亚
                    </p>
                    <h4>澳大利亚证券和投资委员会( ASIC)</h4>
                    <p>
                        外汇和差价合约经纪商把澳大利亚作为发展业务的一个合适地区，本地监管机构认可了衍生品产品，对差价合约和保证金外汇实施了监管，投资者提高了对金融市场
                        的理解，对复杂产品（例如场外交易衍生品）产生了需求，此外，除了国内的有力支持，澳大利亚还与其他经济体展开了联系，例如中国，马来西亚和印度尼西亚
                    </p>
                    <h4>监管要求</h4>
                    <div id="licence-ul">
                        <ul>
                            <li>须申请获得AFS License，并获准许可指定的经营权</li>
                            <li>公司股东和管理层以及规定的持牌人均需按ASIC规定进行备案</li>
                            <li>须建立整套客户投诉解决方案，加入FOS纠纷解决机构</li>
                            <li>须按监管要求在指定银行开立客户资金专属账户，与公司自有资金分离管理</li>
                            <li>定期提交公司经营财务报告，定期进行会计审计，提交ASIC备案</li>
                            <li>定期提交客户交易报告，提交ASIC备案</li>
                        </ul>
                    </div>
                    <p>除此之外，ASIC建立了一整套的针对外汇市场的监督管理机制，凡是有任何客户投诉外汇市场参与者的，ASIC都要求被投诉者按流程参与纠纷解决，对损坏客户利
                        益的行为，要求交易商进行赔偿。如果受监管企业有违规操作，将受到ASIC的严重处罚或起诉，甚至吊销金融服务牌照和普通经营执照。
                        同时，ASIC对在澳洲金融机构进行投资的国际投资者进行了有效的权益保护，享受与澳洲本土投资者一样的法律权益。</p>
                    <h4>申请澳洲金融牌照AFSL优势</h4>
                    <div id="licence-ul-1">
                        <ul>
                            <li>完善的政府职能，独立管理金融市场</li>
                            <li>全方位的监管体系，监督与管理两手并重</li>
                            <li>在金融运作中，协助和保护零售商和客户</li>
                            <li>注重对投资者的权益保护，设立了FOS纠纷解决机构</li>
                            <li>对任何违反法律的行为有着严格的处罚措施</li>
                            <li>更加公开公正的信息发布，确保公众利益</li>
                            <li>通过新技术和流程提高服务水平</li>
                            <li>保护投资</li>
                        </ul>
                    </div>
                    <div class="licence-capital">
                        <ul>
                            <li>（一） 所有经营金融产品的机构首先需要申请金融服务牌照(AFS Licence)</li>
                            <li>（二）所有申请AFSL金融服务牌照的机构均需为零售客户办理专业责任强制保险(Professional indemnity insurance)</li>
                            <li>（三）ASIC要求投诉部门及时处理客户投诉，并对违规交易商进行严格处罚，甚至吊销金融服务牌照AFSL</li>
                            <li>（四）更严格的金融产品披露、客户风险披露，要求金融机构必须毫无保留地告诉客户公司经营风险、市场交易风险等</li>
                        </ul>
                    </div>
                    <h4>AFSL资产要求(以外汇零售商/交易商/做市商为例)</h4>
                    <p>
                        客户资产审验以及保证金(此为您司额外支付，并不在包含在计划服务费用里面，并且会存放在您司的澳洲银行帐户)：从2013年1月31日开始，所有受澳大利亚证
                        券和投资委员会（ASIC）监管的场外衍生品经纪商将要保证有形资产净额达到50万美元，或为收入的10%。2014年，ASIC再次将该要求提高到100万美元，或为
                        收入的10%。监管机构以巴塞尔协议3为基础，把收入和资本作为一个公司财务稳定性的衡量尺度。在申请AFSL期间,要向ASIC提交今年预计客户资金的多少,然后
                        根据这个数字提供相应的公司资产审计报告。实时需要会计公司提供审计报告，证明公司有足够的流动资产。
                    </p>
                    <h4>办理时间</h4>
                    <div id="licence-ul-2">
                        <ul>
                            <li>注册全新澳洲AFSL牌照需要4-6个月，购买现成AFSL牌照仅需1-2个月</li>
                            <li>有关申请AFSL牌照服务内容及费用信息请查看附件AFSL金融服务供应商（做市商）牌照计划简报</li>
                            <li>澳洲的监管注册需要从澳洲本地申请。我们为您提供了一个全面的解决方案，即帮您注册完成AFSL监管牌照的申请，同时也确保您日后运营中所需应对金融部
                                门要求的所有合规操作，确保符合通过所有澳洲公司注册局和金融市场管理局的所要求与法规.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>
        </div>
    </div>
</section>

<section id="contact">
    <h2>联系我们</h2>
    <ul class="col-lg-offset-3">
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
        <li class="col-lg-2 col-xs-3"><i></i></li>
    </ul>
    <form>
        <input class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-1 col-xs-8">
        <button>提交</button>
    </form>
</section>
<div id="clickTop" style="width: 50px; height: 50px; color: red">
    <a class="top-link" href="#"></a>
</div>
    <footer id="footerMenu">
        <div class="container">
            <div class="row">
                <dl class="col-xs-4 col-sm-2">
                    <dt><label>平台</label>搭建</dt>
                    <dd><a href="MT4.html">MT4平台搭建</a></dd>
                    <dd><a href="MT5.html">MT5平台搭建</a></dd>
                    <dd><a href="white.html">白标搭建</a></dd>
                    <dd><a href="mainlabel.html">主标搭建</a></dd>
                </dl>
                <dl class="col-xs-4 col-sm-2">
                    <dt><label>解决</label>方案</dt>
                    <dd><a href="company.html">离岸公司注册</a></dd>
                    <dd><a href="register.html">离岸账户开设</a></dd>
                    <dd><a href="paizhao.html">金融监管牌照</a></dd>
                    <dd><a href="sanfang.html">三方支付申请</a></dd>
                    <dd><a href="CRM.html">CRM管理系统</a></dd>
                </dl>
                <dl class="col-xs-4 col-sm-2">
                    <dt></dt>
                    <dt style="visibility: hidden;padding-bottom: 16px">解决方案</dt>
                    <dd><a href="liudong.html">流动性提供商</a></dd>
                    <dd><a href="site.html">金融网站搭建</a></dd>
                    <dd><a href="development.html">Logo VI设计</a></dd>
                    <dd><a href="jingxiang.html">镜像管理系统</a></dd>
                    <dd><a href="chajian.html">MT4插件定制</a></dd>
                </dl>
                <div class="clearfix visible-xs-block"></div>
                <dl class="col-xs-4 col-sm-2">
                    <dt><label>关于</label></dt>
                    <dd><a href="aboutus.html">关于我们</a></dd>
                    <dd><a href="development.html">发展历程</a></dd>
                    <dd><a href="joinus.html">加入我们</a></dd>
                </dl>
                <dl class="col-xs-8 col-sm-2">
                    <dt><label>公司</label>信息</dt>
                    <dd>技术支持：Support@udeafx.com</dd>
                    <dd>商户合作：Sales@udeafx.com</dd>
                    <dd>咨询热线：+86 181 2887 8737</dd>
                    <dd>电话号码：+00852 6032-7386</dd>
                    <dd>公司地址：香港湾仔路骆克道53-55号
                        恒泽商业大厦15楼1501室</dd>
                </dl>
                <div class="clearfix visible-xs-block"></div>
            </div>

        </div>
        <div class="companyinfo">
            <p>Copyright © 2016-2017 Udea Technology Limited. All rights reserved.</p>
        </div>
    </footer>
</body>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script type="text/javascript" src="../static/js/hm.js"></script>
<script type="text/javascript" src="../static/js/vds.js"></script>
<script type="text/javascript" src="../static/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../static/js/storage.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>

<script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
        _vds.push(['setAccountId', 'a6a54602e467dc5f']);
        (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
        })();
    })();
</script>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?98c5d9a3f65e4c47b0f05f72d0b6e999";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>