/*register start*/
.register-icon{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: solid 5px #65c6ff;
}
.register-p{
    color: #666666;
}
.register-h3{
    color: #2e95e8;
    margin-bottom: 20px;
}
.Kingdom {
    background: url(../img/reg-england.jpg) no-repeat;
    background-size: 255%;
    background-position-x: -84px;
    background-position-y: -68px;
    float: right;
}

#Kingdom h3,#BVI h3{
    margin-left: 90px;
}
#BVI h3{
    margin-left:230px;
}
#Vanuatu h3{
    margin-left: 185px;
}
#Zealand h3{
    margin-left: 135px;
}
#Samoa h3{
    margin-left: 205px;
}
#Kingdom span,#BVI span,#Vanuatu span,#Zealand span,#Samoa span{
    border-bottom: solid 5px #65c6ff;
    display: inline-block;
    width: 296px;
    float: right;
}
#Kingdom p,#BVI p,#Vanuatu p,#Zealand p{
    margin-top: 85px;
    margin-left: 40px;
}
#Hongkong{
    margin-top: 150px;
}
#Hongkong, #Kingdom, #Seychelles, #BVI, #Vanuatu, #Cayman, #Zealand ,#Australia{
    margin-bottom: 50px;
}
#Samoa{
    margin-bottom: 150px;
}
.Hongkong{
    background: url(../img/reg-hongkong.png) no-repeat;
    background-position-x: -51px;
    background-position-y: -21px;

}
#Hongkong span,#Seychelles span,#Belize span,#Cayman span,#Australia span{
    margin-top: -25px;
    margin-left: 114px;
    border-bottom: solid 5px #65c6ff;
    display: inline-block;
}

#Hongkong h3,#Seychelles h3,#Belize h3,#Cayman h3,#Australia h3{
    margin-top: 33px;
    margin-bottom: 19px;
    margin-left: 18px;
    width: 230px;
}
#Hongkong p,#Belize p,#Cayman p,#Australia p{
    margin-left: 132px;
    margin-top: -41px;
}
.BVI{
    background: url(../img/reg-BVI.png) no-repeat;
    background-size: 180%;
    background-position-x: -48px;
    background-position-y: -1px;
    float: right;
}
.Seychelles{
    background: url(../img/reg-Seychelles.png) no-repeat;
    background-size: 178%;



}
.Belize{
    background: url(../img/reg-Belize.png) no-repeat;
    background-size: 145%;
    background-position-x: -24px;
    background-position-y: -7px;
}
.Vanuatu{
    background: url(../img/reg-Vanuatu.png) no-repeat;
    background-size: 146%;
    background-position-x: -29px;
    float: right;
}
.Cayman{
    background: url("../img/reg-Cayman.png") no-repeat;
    background-size: 173%;
    background-position-x: -42px;
}
.Zealand{
    background: url(../img/reg-Zealand.png) no-repeat;
    background-size: 174%;
    background-position-x: -36px;
    float: right;
}
.Australia{
    background: url(../img/reg-Australia.png) no-repeat;
    background-size: 179%;
    background-position-x: -26px;
}
.Samoa{
    background: url("../img/reg-Samoa.png") no-repeat;
    background-size: 180%;
    background-position-x: -33px;
    float: right;
}
/*register end*/

/*company start*/

#company{
    background: #f4f5f7;
    margin-top: 50px;
}
#company .company-head{
    background: #191919;
    height: 60px;
    width: 100%;
}
#company span{
    color: #8b8787;
}
#company .circle{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    content: '';
    background: #cbd2dc;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;

}

#company .circle-right{
    margin-top: 0;
    margin-left: 300px;
    height: 40px;
    width: 40px;
}
#company .company-site{
    width: 120px;
    display: inline-block;
    margin-top: 13px;
    margin-bottom: -8px;
    margin-left: 20px;
    color: #aadcff;
}
#company .short-site{
    width: 230px;
}
#company .company-croci{
    background: #f4c682;
    display: inline-block;
    height: 18px;
    width: 70px;
    margin-bottom: -5px;
    margin-left: 15px;

}
#company .green{
    background: #59c2b6;
}
#company .red{
    background: #cb4c5e;
}
#company .company-groud{
    margin-left: -15px;;
}
#company .open-bank{
    width: 275px;
    display: inline-block;
}
#company .low-save{
    width: 170px;
    display: inline-block;
}
#company .fa-2x{
    font-size: 2em;
    margin-right: 2px;
    margin-top: 22px;
    float: right;
    color: #c5c9d1;
}
#company .company-search{
    background: url("../img/company-search.png") no-repeat;
    background-size:100% ;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-top: 10px;
}
#company input{
    width: 725px;
    color: #e1e1e1;
    border: solid 0;
}
#company .comp-icon{
    background: url(../img/compa-icon.png) no-repeat;
    background-size: 100%;
    width: 165px;
    height: 153px;
    margin-left: 50px;
    margin-bottom: 25px;
}
#company .comp-right{
    background: #fff;
    color:#a6a6a6;
}
#company .comp-name{
    text-align: center;
}
.span-exchange {
    width: 66px;
    height: 30px;
    content: '';
    border-radius: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.comp-exchange{
    margin-left: 60px;
    margin-top: 42px;
    margin-bottom: 40px;
}
#company .out-span{
    background: #40c4bf;
    font-weight: bolder;
}
#company .in-span{
    background: #f75e62;
    font-weight: bolder;
}

/*company end*/
/*paizhao start*/
#licence{
    color: #999999;
}
#licence ul{
    list-style: none;
}
#licence-ul ul,#licence-ul-1 ul,#licence-ul-2 ul,#crm-ul ul{
    list-style: url(../img/ul-list-style.png);
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 32px;
    margin-bottom: 25px;
}

.licence-capital ul{
    line-height: 32px;
    margin-bottom: 25px;
}
.licence-fca label{
    width: 75px;
    text-align: center;
}
#licence .licence-icon{
    background: url(../img/licence-asic.png) no-repeat;
    background-size: 300%;
    width: 140px;
    background-position-x: -10px;
    background-position-y: 23px;
    height: 140px;
    border-radius: 100%;
    border: solid 5px #65c6ff;
}
#licence .ASIC-line{
    border-bottom: solid 5px #65c6ff;
    margin-top: 34px;
    margin-left: -59px;
    width: 274px;
    color: #2e95e8;
    font-weight: 700;
    font-size: 19px;
    text-align: center;

}
#licence .ASIC-line>label{
    margin-left: -126px;
}

#licence .licence-text h4{
    color: #666666;
    margin-top: 57px;
    margin-bottom: 25px;
}
#licence .licence-text p{
    margin-bottom: 6px;
    line-height: 32px;
    margin-top: 16px;
}

/*paizhao end*/

/*sanfang start*/
#threePay{
    background: #fff;
}
#threePay a{
    display: inline-block;
    height: 100px;
    width: 295px;
    margin-top: 41px;
    margin-left: 90px;
}
#threePay .pay1{
    background-image: url("../img/pay-ips-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay1:hover{
    background-image: url("../img/pay-ips-color.png");

}
#threePay .pay2{
    background-image: url('../img/pay-allIn-gray.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay2:hover{
    background-image: url('../img/pay-allIn-color.png');
}
#threePay .pay3{
    background-image: url("../img/pay-all-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay3:hover{
    background-image: url("../img/pay-all-color.png");
}
#threePay .pay4{
    background-image: url("../img/pay-wechat-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay4:hover{
    background-image: url("../img/pay-wechat-color.png");
}
#threePay .pay5{
    background-image: url("../img/pay-online-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay5:hover{
    background-image: url("../img/pay-online-color.png");
}
#threePay .pay6{
    background-image: url("../img/pay-huichao-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay6:hover{
    background-image: url("../img/pay-huichao-color.png");
}
#threePay .pay7{
     background-image: url("../img/pay-dinpay-gray.png");
     background-repeat: no-repeat;
     background-size: 100%;
 }
#threePay .pay7:hover{
    background-image: url("../img/pay-dinpay-color.png");
}
#threePay .pay8{
    background-image: url("../img/pay-baofoo-gray.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#threePay .pay8:hover{
    background-image: url("../img/pay-baofoo-color.png");
}
/*sanfang end*/

/*crm start*/

#crm-echart{
    color: #666666;
}
#crm-echart h3{
    text-align: center;
}

#crm-echart .echaer-img{
    width: 376px;
    height: 251px;
    background: url("../img/crm-metatrader-4.png") no-repeat;
    background-size: 100%;
}

#crm-echart .crm-text{
    margin-top: 45px;


}
#crm-icon-list{
    background: #191919;
    margin-top: 60px;
}
#crm-icon-list .container{
    padding: 45px 45px;
}
#crm-icon-list .aboutimg{
    width: 60px;
    height: 60px;
    margin: auto;
}
.aboutimg>img{
    width: 100%;
}
#crm-icon-list .paddingtop30{
    margin-top: 39px;
    margin-bottom: 72px;
}
/*crm end*/
/*paizhao start*/

/*liudong strat*/
.adv-img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 40px;
}
#clearing-adv .adv-img-contact{
    background: url(../img/clear-contact.png) no-repeat;
    background-size: 100%;
}
#clearing-adv h2{
    margin: 55px;
}
#clearing-adv .adv-img-DB{
    background: url("../img/clearl-DB.png") no-repeat;
    background-size: 100%;
}
#clearing-adv .adv-img-LPS{
    background: url("../img/claer-LPS.png") no-repeat;
    background-size: 100%;
}
#clearing-adv .adv-img-product{
    background: url("../img/clear-product.png") no-repeat;
    background-size: 100%;
}
#clearing-adv .adv-text{
    margin-left: 138px;
    margin-top: -50px;
    margin-bottom: 50px;
}
.cfn-commont{
    height: 90px;
    width: 215px;
    display: inline-block;
}

#clearing-adv .clearing-SYSTEMS{
    background: url(../img/clearing-SYSTEMS.png) no-repeat;
    background-size: 61%;
}
#clearing-adv .clearing-SYSTEMS:hover{
    /*filter: Alpha(opacity=10);-moz-opacity:.1;opacity:0.1;*/
    background: url(../img/clearing-SYSTEMS-color.png) no-repeat;
    background-size: 61%;
}
#clearing-adv .clearing-CLEARINC{
    background: url("../img/clearing-CLEARINC.png") no-repeat;
    background-size: 61%;
}
#clearing-adv .clearing-CLEARINC:hover{
    background: url("../img/clearing-CLEARINC-color.png") no-repeat;
    background-size: 61%;

}
#clearing-fast{
    background: #191919;
    margin-top: 70px;
}
#clearing-fast{
    margin: 0 0 20px;
    line-height: 25px;
}
#clearing-fast .fast-img{
    background: url(../img/clearing-shandain.png) no-repeat;
    background-size: 100%;
    height: 180px;
    width: 138px;
    margin-left: 493px;
    margin-top: 55px;
}
.color-c8c8c8{
    color: #c8c8c8;
    padding-top: 58px;
    margin-top: 58px;
    padding-bottom: 35px;
}
#clearing-bank a{
    height: 121px;
    width: 250px;
    display: inline-block;
}
#clearing-bank .bankPay1{
    background: url(../img/clearing-JPM-gray.png) no-repeat;
    background-size: 75%;
    background-position-x: 34px;
    background-position-y: 42px;
}
#clearing-bank .bankPay1:hover{
    background: url("../img/clearing-JPM.png") no-repeat;
    background-size: 75%;
    background-position-x: 34px;
    background-position-y: 42px;
}
#clearing-bank .bankPay2{
    background: url(../img/clearing-BNP-gray.png) no-repeat;
    background-size: 71%;
    background-position-x: 36px;
    background-position-y: 8px;
}
#clearing-bank .bankPay2:hover{
    background: url("../img/clearing-BNP.png") no-repeat;
    background-size: 71%;
    background-position-x: 36px;
    background-position-y: 8px;
}
#clearing-bank .bankPay3{
    background: url(../img/clearing-BARCLAYS-gray.png) no-repeat;
    background-size: 85%;
    background-position-x: 20px;
    background-position-y: 34px;
}
#clearing-bank .bankPay3:hover{
    background: url("../img/clearing-BARCLAYS.png") no-repeat;
    background-size: 85%;
    background-position-x: 20px;
    background-position-y: 34px;
}
#clearing-bank .bankPay4{
    background: url(../img/clearing-UBS-gray.png) no-repeat;
    background-size: 66%;
    background-position-x: 31px;
    background-position-y: 36px;
}
#clearing-bank .bankPay4:hover{
    background: url("../img/clearing-UBS.png") no-repeat;
    background-size: 66%;
    background-position-x: 31px;
    background-position-y: 36px;
}
#clearing-bank .bankPay5{
    background: url(../img/clearing-Goldman-gray.png) no-repeat;
    background-size: 57%;
    background-position-x: 57px;
    background-position-y: 37px;
}
#clearing-bank .bankPay5:hover{
    background: url("../img/clearing-Goldman.png") no-repeat;
    background-size: 57%;
    background-position-x: 57px;
    background-position-y: 37px;
}
#clearing-bank .bankPay6{
    background: url(../img/clearing-CREDITS-gray.png) no-repeat;
    background-size: 86%;
    background-position-x: 16px;
    background-position-y: -21px;
}
#clearing-bank .bankPay6:hover{
    background: url("../img/clearing-CREDITS.png") no-repeat;
    background-size: 86%;
    background-position-x: 16px;
    background-position-y: -21px;
}
#clearing-bank .bankPay7{
    background: url(../img/clearing-Mor-gray.png) no-repeat;
    background-size: 73%;
    background-position-x: 31px;
    background-position-y: -6px;
}
#clearing-bank .bankPay7:hover{
    background: url("../img/clearing-Mor.png") no-repeat;
    background-size: 73%;
    background-position-x: 31px;
    background-position-y: -6px;

}
#clearing-bank .bankPay8{
    background: url(../img/clearing-America-gray.png) no-repeat;
    background-size: 78%;
    background-position-x: 40px;
    background-position-y: 23px;
}
#clearing-bank .bankPay8:hover{
    background: url("../img/clearing-America.png") no-repeat;
    background-size: 78%;
    background-position-x: 40px;
    background-position-y: 23px;
}
@media (max-width: 767px) {
    #clearing-bank a{
        width: 100%;
    }

}

@media(min-width:768px) {
    #clearing-bank .row{
        margin:0 auto ;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    #clearing-bank .row{
        width: 662px;
    }



}
@media(min-width: 992px)and (max-width: 1199px) {
    #clearing-bank .row {
        width: 883px;
    }
}
@media(min-width: 1200px) {
    #clearing-bank .row {
        width: 1104px;
    }
    #clearing-bank .bankPay1,#clearing-bank .bankPay2,#clearing-bank .bankPay3,#clearing-bank .bankPay4{
        border-bottom: dashed 1px #eaeaea;
    }
    #clearing-bank .bankPay1,#clearing-bank .bankPay2,#clearing-bank .bankPay3,
    #clearing-bank .bankPay5,#clearing-bank .bankPay6,#clearing-bank .bankPay7{
        border-right: dashed 1px #eaeaea;
    }


}
#clearing-build{
    background: #191919;
}
#clearing-build a{
    height:80px;
    width: 80px;
    display: inline-block;
}
.bulid-mt4{
    margin-left: 77px;
    margin-top: -90px;
}
.margin-bulid-65{
    margin-top: 65px;
}
.color-only-c8c8c8{
    color: #c8c8c8;
}
#clearing-build .container{
    padding: 35px 0 50px;
}
#clearing-build p{
    color: #c8c8c8;
    text-align: center;
    margin: 15px 0 55px;
}
#clearing-build .rich-img{
    background: url("../img/clear-multi.png") no-repeat;
    background-size: 66%;
}
#clearing-build .Gold-img{
    background: url("../img/clear-flash.png") no-repeat;
    background-size: 66%;
}
#clearing-build .date-img{
    background: url("../img/clear-time.png") no-repeat;
    background-size: 66%;
}
#clearing-build .bridge-img{
    background: url("../img/clear-brigde.png") no-repeat;
    background-size: 66%;
}
#clearing-build .mt4-img{
    background: url("../img/clear-Golid-i.png") no-repeat;
    background-size: 66%;
}
#clearing-build .ddos-img{
    background: url("../img/clear-DDOS.png") no-repeat;
    background-size: 66%;
}

#clearing-fortex a{
    display: inline-block;
    width: 260px;
    height:100px;
}
#clearing-fortex .fortex1{
    background: url("../img/clearing-Gold-gary.png") no-repeat;
    background-size: 100%;
    background-position-x: 4px;
    background-position-y: -45px;
}
#clearing-fortex .fortex1:hover{
    background: url("../img/clearing-Gold.png") no-repeat;
    background-size: 100%;
    background-position-x: 4px;
    background-position-y: -45px;
}
#clearing-fortex .fortex2{
    background: url("../img/clearing-Fortex-gray.png") no-repeat;
    background-size: 81%;
    background-position-x: 4px;
    background-position-y: 18px;

}
#clearing-fortex .fortex2:hover{
    background: url("../img/clearing-Fortex.png") no-repeat;
    background-size: 81%;
    background-position-x: 4px;
    background-position-y: 18px;

}
#clearing-fortex .fortex3{
    background: url("../img/clearing-PXM-gray.png") no-repeat;
    background-size: 100%;
    background-position-x: -9px;
    background-position-y: -20px;
}
#clearing-fortex .fortex3:hover{
    background: url("../img/clearing-PXM.png") no-repeat;
    background-size: 100%;
    background-position-x: -9px;
    background-position-y: -20px;
}
#clearing-fortex .fortex4{
    background: url("../img/clearing-oneZero-gray.png") no-repeat;
    background-size: 100%;
    background-position-x: 5px;
    background-position-y: -18px
}
#clearing-fortex .fortex4:hover{
    background: url("../img/clearing-oneZero.png") no-repeat;
    background-size: 100%;
    background-position-x: 5px;
    background-position-y: -18px
}
#clearing-solve{
    background: #191919;
    background: rgba(0,0,0,0.3);
    filter: Alpha(opacity=70)
}
/*liudong end*/
































































/*liudong end*/

/*金融官网搭建 start*/
#platform-info > .container > div {
    margin-top: 0;
}
#platform-info .line3 {
    width: 100%;
    border: 2px solid #65c6ff;
    margin-top: 40px;
}
.bg-black {
    background-color: #000;
}
.fl {
    float: left;
}
.textcolor6 {
    color: #666;
}
.siteimg {
    margin: 50px auto;
}
.sitetext {
    padding: 0 90px;
    margin: 50px 0;
}
.sitetext > h3 {
    margin-bottom: 40px;
}
.sitetext > p {
    line-height: 28px;
}
/*金融官网搭建 end*/

/*镜像管理系统 start*/
.jingxiang01 {
    min-width: 670px;
}
.jingxiang01 > h3 {
    margin: 62px 0;
    text-align: center;
}
.jingxiang01 > ul {
    list-style: none;
}
.jingxiang01 > ul:nth-child(2) {
    overflow: hidden;
    margin: 0 5%;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.jingxiang01 > ul:nth-child(2) > li {
    float: left;
    width: 20%;
    line-height: 75px;
    text-align: center;
}
.jingxiang01 > ul:nth-child(3) {
    margin: 40px 0;
}
.jingxiang01 > ul:nth-child(3) li {
    display: block;
    line-height: 40px;
    width: 30%;
    margin-left: 42%;
}
.jingxiang01 > ul:nth-child(3) li i {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.jingxiang01 > ul:nth-child(3) li i > img {
    width: 100%;
}
.jingxiang02 {
    padding: 70px 0;
}
.jingxiang02 h4 {
    text-align: center;
}
.jingxiang02 > .container > div:nth-child(3) {
    margin-top: 70px;
}
.jingxiang02 > .container > div > div > div {
    width: 54px;
    height: 54px;
}
.jingxiang02 > .container > div > div > div > img {
    width: 100%;
}
/*镜像管理系统 end*/

/*MT4插件定制 start*/
.chajian {
    text-align: center;
    padding: 70px 0;
}
.chajian h4 {
    margin-bottom: 30px;
}
.chajian img {
    margin-top: 30px;
}
/*MT4插件定制 end*/

